@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #000D80;
$secondary: #5793CE;
$success: #1EB351;
$success-light: #DCF9E8;
$danger: #B3261E;
$danger-light: #F9DEDC;

/* width */
::-webkit-scrollbar {
  width: 8px;
  margin-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.001);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

html,
body {
  background-color: whitesmoke;
  scrollbar-gutter: stable
}

p,
a,
label,
button,
table,
span,
ul,
input,
i {
  font-size: 12px;
}

button,
a,
input[type=submit] {
  border-radius: 3px;
  transition: 0.2s all ease;
  padding: 5px 16px;
}

input,
select {
  padding: 5px 16px;
}

.rounded-c {
  border-radius: 3px;
}

input {
  min-width: 80px;
}

.auth-screen {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $primary;

  .auth-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px #79797994;

    .marker {
      width: 20px;
      height: 20px;
    }
  }
}

#sidebar {
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 5;
  background-color: $primary;
  color: white;
  min-width: 250px;

  .bottom-container {
    background-color: $secondary;

    .avatar {
      width: 45px;
      height: 45px;
      background: gray;
    }
  }
}

#settings {
  .uploader {
    min-width: 200px;
    width: 200px;
    min-height: 200px;

    img {
      width: 200px;
      height: 200px;
    }
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.544);

  .avatar {
    height: 50px;
    width: 50px;
  }
}
